parameters:
    level: 6
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false

includes:
    - phpstan-baseline.neon