parameters:
    level: 6
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php

    checkMissingIterableValueType: false

    ignoreErrors:
        - '~^Unsafe usage of new static\(\)~'
        - identifier: missingType.generics

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - phpstan-baseline.neon