parameters:
    level: 6
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false

    ignoreErrors:
        - '~^Unsafe usage of new static\(\)~'

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - phpstan-baseline.neon